<section class="hero-content">


    <section class="chat-nav">
        <h1 class="chat-title">Bloc Chat</h1>

        <button type="button" class="new-chat btn btn-primary" ng-click="home.openModal();">New Chat Room </button>
        <br>    
       <section class="rm-list">
           <br>
               <div class="rms" ng-repeat="room in home.rooms">
                    <div class="rn1" ng-click="home.loadRoom(room)">{{ room.name }}</div>
                </div>
        </section>   
    </section>

    <section class = "chat-container">
        <div id = "rm-title">
            <h1 class="chat-room">{{home.r1}}</h1> 
        </div>
        <div class="messages" ng-repeat="message in home.messages">
        <br>
          <span id="mu">{{ message.username }}</span> <span id="ms">({{ message.sentAt }})</span> <br>
            <span id="mc">{{ message.content }}</span>
        <br>
      </div>
        <div class="message-form" ng-show="home.r1">
            <input type="text" class="message-box" ng-model="home.newmessage.content" style="width: 300px;">
            <button class="btn btn-primary" type="button" ng-click="home.sendMessage()">Send</button>
                
        </div> 
        
        
    </section>



</section>